.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top:10px;
    z-index: 100;
}

/* portfolio image */
.header-left-section {
    height:85;
}
.portfolio-image {
    height: 85px;
    display: flex;
    align-items: center;
}

.header-right-section {
    display: flex;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    text-decoration: none;
    color: #898989;
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px;
    position: relative;
    letter-spacing: 0.5px;
}

/* Hover Effect for header content */
.header-content:hover {
    color: rgba(255, 255, 255, 0.67);
}

.header-content::before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0; /* Start with 0 width */
    height: 3px; 
    background: linear-gradient(to right, #656565,
    #7f42a7, #6600c5, #5300a0, #757575, #656565);
    background-size: 200%;
    animation: animationGradient 1.5s linear infinite;
    box-shadow: 0 0 15px rgb(255,255,255,0.3);
    transition: width 0.5s ease; 
}
@keyframes animationGradient{
    to{
        background-position:200%;
    }
}
.header-content:hover::before {
    width: 100%; /* On hover, expand to full width */
}

/* Hamburger and Mobile Menu Styles */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    margin-right:10px;
    z-index: 101;
}

.hamburger span {
    width: 25px;
    height: 2.5px;
    background: #898989;
    border-radius: 3px;
    transition: all 0.3 ease-in-out;
}
/*marimile meniului*/
.mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    height:100vh;
    width:250px;
    padding: 50px 10px;
    box-shadow:0 10px 10px rgba(0,0,0,0.5);
    
    backdrop-filter: blur(4px);
    border-radius: 10px;
    z-index: 100;
}

.mobile-menu.show {
    display: flex;
}
.hamburger.show span:nth-child(2){
    opacity:0;
}
.hamburger.show span:nth-child(1){
    transform:translateY(8px) rotate(45deg);
}
.hamburger.show span:nth-child(2){
    transform: translateY(-8px) rotate(-45deg);
}
.mobile-link {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #898989;
    text-decoration: none;
    margin: 10px 0;
    font-weight: 500;
}


