/* */
@media (max-width: 1600px) {
  .text-changer{
    font-size:25px;
  }
  .content h1{
    font-size:3rem;
  }
  .header-content {
    margin:0;
    margin-right: 25px;
    font-size: 19px;
  }
  .portfolio-image {
    height: 80px;
}
}
@media(max-width:1464px){
  .text-content{
    font-size: 16px;
  }
}
@media (max-width: 1440px) {
  .text-changer{
    font-size:25px;
  }
  .content h1{
    font-size:3rem;
  }
  .header-content {
    margin:0;
    margin-right: 20px;
    font-size: 18px;
  }
  .portfolio-image {
    height: 80px;
}
}
@media(max-width:1343px){
  .text-content{
    font-size: 13px;
  }
  .arch-logo{
    height:400px;
    width:400px;
  }
}
@media (max-width: 1272px) {
  .text-changer{
    font-size:25px;
  }
  .content h1{
    font-size:3rem;
  }
  .header-content {
    margin:0;
    margin-right: 15px;
    font-size: 17px;
  }
  .portfolio-image {
    height: 80px;
}
.arch-logo{
  height:400px;
  width:400px;
}
.text{
  font-size:16px;
  padding:30px;
}
}
@media (max-width: 1220px) {
  .text-changer{
    font-size:23px;
  }
  .content h1{
    font-size:2.8rem;
  }
  .header-content {
    margin:0;
    margin-right: 15px;
    font-size: 17px;
  }
  .portfolio-image {
    height: 80px;
}
}
@media (max-width: 1194px) {
  .text-changer{
    font-size:21px;
  }
  .content h1{
    font-size:2.6rem;
  }
  .header-content {
    margin:0;
    margin-right: 14px;
    font-size: 16px;
  }
  .portfolio-image {
    height: 80px;
}
}
@media (max-width: 1167px) {
  .text-changer{
    font-size:19px;
  }
  .content h1{
    font-size:2.4rem;
  }
  .header-content {
    margin:0;
    margin-right: 14px;
    font-size: 16px;
  }
  .portfolio-image {
    height: 80px;
}
}

@media(max-width:1070px){
  .text{
    font-size:16px;
  }
  .text-content{
    font-size: 13px;
  }
  .arch-logo{
    height:330px;
    width:330px;
  }

}
@media (max-width: 1024px) {
  .home-container {
    flex-wrap: wrap;
    display:flex;
    flex-direction:column;
    margin-top:25px;
  }
  .text-changer{
    font-size:16px;
  }
  .content h1{
    font-size:1.9rem;
  }
  .content{
    margin-left:0px;
  }
  .header-content {
    margin:0;
    margin-right: 14px;
    font-size: 16px;
  }
  .portfolio-image {
    height: 75px;
  }
  .tag-box{
    width:14.2rem;
    height:2.2rem;
    margin-top:20px;
  }
  .tag{
    font-size:14px;
  }
  /* this is for the about page responsivenes*/
  .about-big-container{
    display: flex;
    flex-direction: column;
    align-items: center;    /* Center children horizontally */
    flex:1;   
}
  .arch-logo {
    width: 200px !important;
    height: 200px !important;
  }
  .about-inner-container {
    flex-direction: column;
    margin-left: 0;
    gap: 30px;
  }

  .arch-logo-div {
    margin-bottom: 30px;
  }

  .about-text-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .text {
    width: 90%;
    max-width: 400px;
    margin:0;
  }
.text:nth-child(2) {
    margin-left: 0;
  }
  .about-text-down {
    margin-top: 20px;
    width: 90%;
    max-width: 600px;
    margin-left:32px;
    text-align: center;
    font-size: 18px;
  }
  .text-content {
    font-size: 16px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
    .item{

  width: 100px;
  height: 90px;
  left: max(calc(110px * 8), 100%);
  }
}

@media(max-width:768px){
  .header{
    margin-top:0;
  }
  .hamburger {
    display: flex;
  }
  .mobile-menu {
    display:flex;
  }

  .header-right-section {
    display: none;
  }
  
  .home-container {
    margin-top:30px;
  }
  .text-changer{
    font-size:14px;
  }
  .content h1{
    font-size:1.7rem;
  }
  .header-content {
    margin:0;
    margin-right: 13px;
    font-size: 14px;
  }
  .portfolio-image {
    height: 70px;
  }
  .tag-box{
    width:13.8rem;
    height:2rem;
    margin-top:16px;
  }
  .tag{
    font-size:14px;
  }
  .arch-logo{
  height: 140px !important;
  width: 140px !important;
  }
  .about-me{
    font-size: 26px;
  }
  .skills-container{
    scale:0.8;
  }
  .item{
    scale:0.7;
    width: 100px;
    height: 90px;
    left: max(calc(90px * 8), 100%);
  }
}
@media(max-width:466px){
  .mobile-link {
    font-size:20px;
}
  .skills-container{
    scale:0.7;
  }
  .item{
  scale:0.7;
  width: 100px;
  height: 90px;
  left: max(calc(70px * 8), 100%);
  }
  .swiper-slide-active {
    transform:scale(0.7);
    transition: 0.3s ease-in-out all; 
  }
  .hello-text{
    font-size: 12px;
  }
  .full-name-email{
    flex-direction:column
  }
  #name,
  #email{
    margin:0;
    margin-bottom:20px;
    font-size:14px;
    padding:18px;
  }
  .social-media{
    width:35px;
  }
}
@media(max-width:390px){
  
  .mobile-link {
    font-size:20px;
}
.portfolio-image {
  height: 65px;
}
.tag-box{
  width:13.2rem;
  height:1.8rem;
  margin-top:16px;
}
.tag{
  font-size:13px;
}
  .item{
  scale:0.7;
  width: 100px;
  height: 90px;
  left: max(calc(60px * 8), 100%);
  }
}
@media(max-width:320){
  .mobile-link{
    font-size:18px;
  }
  .portfolio-image{
    height:60px;
  }
  .content h1{
    font-size:1.5rem;
  }
  .tag-box{
    width:13.2rem;
    height:1.8rem;
    margin-top:16px;
  }
  .tag{
    font-size:12px;
  }
}
